<%- include('partials/header') %>  

<h4>INDEX PAGE :</h4>    

<% camps.forEach((data)=>{ %>

<div> 
	
<h2><%= data.title %></h2>	
<img src="<%= data.image %>">	
<p><%- data.body.substring(0,10) %></p>    
<span><%= data.created.toDateString() %></span>	
<a class="item" href="/campgrounds/<%= data._id %>">READ MORE</a>
	 
</div> 

<% }) %>

<%- include('partials/header') %>  