<%- include('partials/header') %>  

<h1>INDEX PAGE :</h1>

<% camps.forEach((data)=>{ %>

<div>
	
<h2><%= data.title %></h2>	

<img src="<%= data.image %>">	

<p><%= data.body %></p>    
	
<span><%= data.created %></span>	
	 
</div> 

<% }); %>

<%- include('partials/header') %>  