<%- include('partials/header') %>  

<div class="ui main text container segment">
	
	<div class="ui huge header"><%= campi.title %></div> 
	
	<div class="ui top attached">
		
		<div class="item">	
			
            <img class="ui centered rounded image" src="<%= campi.image %>">	
			
			    <div class="content">
					 <span><%= campi.created.toDateString() %></span>		
			    </div>
			
			    <div class="description">
					<p><%- campi.body %></p>
			    </div> 
			
		</div>  
		
	</div>
	
</div>

<%- include('partials/footer') %>  